.background {
  background-color:#fff;
  height:100vh;
  display:flex;
  justify-content: center;

  h1 {
    color: aqua;
  }
}
.wrapper {
  margin-top:3vh;
  gap:3vh;
  display:flex;
  flex-direction: column;
  align-items:center;
}