.card {
    background-color: #444444;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    .card__inner {
        .content {
            padding: 20px;
	        text-align: center;
	        transform: translateY(100px);
	        opacity: 0;
	        transition: 0.5s;
            h2 {
                position: absolute;
	            top: -80px;
	            right: 30px;
	            font-size: 8em;
	            color: rgba(255, 255, 255, 0.05);
	            pointer-events: none;
            }
            h3 {
                font-size: 1.8em;
	            color: #fff;
	            z-index: 1;
            }
            p {
                font-size: 1em;
	            color: #fff;
	            font-weight: 300;
            }
        }
    }
    .card__inner:hover {
        .content {
            transform: translateY(0px);
	        opacity: 1;
        }
    }
}