@use "assets/style/utils";
@import "assets/style/utils";

.game {
  padding: 15px;
  border-radius: 20px;
  transition: filter 0.2s, transform 0.2s;
  cursor: pointer;
  color: #000000;
  will-change: transform;
  text-decoration: none;
  background: rgba( 239, 151, 151, 0.15 );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;

  &:nth-child(1) {
    background: rgba(14, 86, 82, 0.25);
  }

  &:nth-child(2) {
    background: rgba(97, 85, 24, 0.31)
  }

  &:nth-child(3) {
    background: rgba(30, 24, 97, 0.31)
  }

  &:nth-child(4) {
    background: rgba(97, 24, 24, 0.31)
  }

  &:hover {
    filter: brightness(0.9);
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
    border-radius: 15px;
  }

  h3 {
    font-family: 'Rubik Beastly';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
  }

  p {
    font-size: 1.2rem;
  }
}