.virusContainer {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;
}

.virus {
    animation: floating 8s ease-in-out infinite;

    &#v1 {
        top: 0%;
        left: 8%;
        position: absolute;
        z-index: -5;
        width: 300px;
        animation-delay: 0s;
    }

    &#v2 {
        top: 50%;
        left: 80%;
        z-index: -5;
        position: absolute;
        width: 300px;
        animation-delay: 1s;
    }

    &#v3 {
        top: 63%;
        left: 5%;
        position: absolute;
        z-index: -5;
        width: 300px;
        animation-delay: 2s;
    }

    &#v4 {
        top: 0%;
        left: 70%;
        position: absolute;
        z-index: -5;
        width: 300px;
        animation-delay: 3s;
    }

    &#v5 {
        top: 15%;
        left: 40%;
        z-index: -5;
        position: absolute;
        width: 300px;
        animation-delay: 4s;
    }

    &#v6 {
        top: 55%;
        left: 30%;
        z-index: -5;
        position: absolute;
        width: 300px;
        animation-delay: 5s;
    }

    &#v7 {
        top: 70%;
        left: 60%;
        z-index: -5;
        position: absolute;
        width: 300px;
        animation-delay: 6s;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }

        50% {
            transform: translate(0, 30px);
        }

        100% {
            transform: translate(0, -0px);
        }
    }
}