@use "assets/style/utils";
@import "assets/style/utils";

.home {
  min-height: 100vh;
  background-color: #282c34;
  color: white;

  header {
    text-align: center;
    padding: 20px;

    h1 {
      font-size: 4rem;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 96px;
        margin-right: 10px;
      }
    }

    h2 {
      font-size: 2rem;
      margin: 0;
    }
  }

  .container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 10px 40px;

    .content {
      padding: 20px;
      width: 100%;
      max-width: 1700px;
      margin: 0 auto;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: #484a4f;
      color: #ffffff;

      a {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px dotted #ffffff;
      }
    }
  }

  .games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 20px;
    }

    .game {
      padding: 15px;
      border-radius: 20px;
      transition: filter 0.2s, transform 0.2s;
      cursor: pointer;
      color: #000000;
      will-change: transform;
      text-decoration: none;

      &:hover {
        filter: brightness(0.9);
        transform: scale(1.05);
      }

      img {
        max-width: 100%;
        border-radius: 15px;
      }

      h3 {
        font-size: 32px;
        margin: 10px 0;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  footer {
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }
}