@use "assets/style/utils";
@import "assets/style/utils";

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px; 
        text-align: center;
    }
    
    tr:nth-child(even) {
        background-color: grey;
    }
    
    tr:hover {
        background-color: rgb(168, 168, 168);
    }
    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #6acea9;
        color: white;
        text-align: center;
    }
}