@use "assets/style/utils";
@import "assets/style/utils";

.main {
    min-height: 100vh;
    color: white;
    background-color: $backgroundColor;

    header {
      text-align: center;
      padding: 20px;
  
      h1 {
        font-size: 4rem;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 96px;
          margin-right: 10px;
        }
      }
  
      h2 {
        font-size: 2rem;
        margin: 0;
      }
    }
}