.bar {
  width: 80%;
  min-width: 500px;
  display: flex;
  background: #5b5d82;
  box-shadow: 0px 4px 9px rgba(86, 116, 223, 0.25);
  border-radius: 15px;
  margin-top: 20px;
  height: 70px;
}

.infosContainer {
  width: 25%;
}

.leaderboard {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vh;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.infos {
  font-family: "Poppins";
  margin-left: 10px;
}

.subTitle {
  color: #a5bdec;
  font-family: "Poppins";
}

.trashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;

  >p {
    font-family: "Poppins";
    margin-left: 10px;
    margin-right: 10px;
    color: red;
  }
}
