.eGameWrapper {
  border: 1px solid red;
  height: calc(100vh - 115.5px);
  width: 100vw;
  position: relative;
}

.eButton {
  background: #FCF6BDFF;
  font-size: 36px;
  padding: .5em 1em;
  border-radius: 8px;
  border: none;
  font-weight: 800;
  transition: box-shadow .3s ease-in-out, opacity 1.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    box-shadow: 2px 4px 6px rgba(252, 246, 189, 0.15);
  }
}

.mHide {
  opacity: 0;
}

.eEnemy {
  position: absolute;

    display: grid;
  place-items: center;
  transition: opacity 1s ease-in-out;
  z-index: 100;

  img {
    width: 100%;
    height: 100%;
  }

  animation: breathing 5s ease-out infinite;
}

.eTimer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5ch;
    height: 52px;
    display: grid;
    place-items: center;
    font-size: 52px;
    font-weight: 600;
}

.mMid {
  color: #eea647;
}

.mLow {
  color: #e15b29;
}

.mCenter {
  top: 50%;
  left: 50%;
}

@keyframes breathing {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  25% {
    transform: translate(-50%, -50%) scale(1);
  }

  60% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.eGameOverStats {
  display: flex;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    height: calc(90vw - (8 * 40px));
    aspect-ratio: 1;
  }
}
